/2021.png
/2022.png
/2023.png
/Anteil der einzelnen Erzeuger an den erneuerbaren Energien 2021.png
/Anteil der einzelnen Erzeuger an den erneuerbaren Energien 2022.png
/Anteil der einzelnen Erzeuger an den erneuerbaren Energien 2023.png
/Anteilige Erzeugung Erneuerbarer 2021.png
/Anteilige Erzeugung Erneuerbarer 2022.png
/Anteilige Erzeugung Erneuerbarer 2023.png
/Anteilige Erzeugung Konventioneller 2021.png
/Anteilige Erzeugung Konventioneller 2022.png
/Anteilige Erzeugung Konventioneller 2023.png
/Erneuerbare vs. Konventionelle Energie 2021.png
/Erneuerbare vs. Konventionelle Energie 2022.png
/Erneuerbare vs. Konventionelle Energie 2023.png
